body {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#etch-a-sketch-container {

}



.gridRow {
    display:flex;
    align-items: stretch;
    justify-content: stretch;
}

.gridSquare {
    display: flex;
    color: aqua;
    background-color: aqua;
    min-width: 20px;
    min-height: 20px;
    max-height: 50px;
    max-width: 50px;
    align-items: stretch;
    justify-content: stretch;

    transition: background-color 2s ease-in-out;
}

.gridSquare:hover {
    background-color: azure;
    transition-duration: 0s;
}
